* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 5%;
  background-color: rgb(53, 51, 51);
}

a {
  text-decoration: none;
  font-size: 1.09rem;
  font-weight: 600;
}

i {
  margin-right: 0.55rem;
  font-weight: 700;
  transition: 0.7s;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.navigation {
  display: flex;
  background-color: rgb(53, 51, 51);
  justify-content: space-between;
  align-items: center;
  padding: 2.2% 3%;
  height: 6.2vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo a {
  color: whitesmoke;
  font-size: 1.25rem;
  font-weight: 700;
  transition: all 0.7s;
}
.logo i {
  color: gold;
}

/************* logo hover  ************/

.logo:hover {
  i {
    font-size: 1.25rem;
  }
  a {
    color: gold !important;
    margin-left: 0.125rem;
  }
}
/************* logo hover  ************/

.nav-list li a {
  color: whitesmoke;
  font-size: 1.063rem;
  transition: all 0.7s;
}

.nav-list li {
  margin-top: 0.9em;
}

.nav-list li a:hover {
  color: gold;
  font-weight: 650;
  padding-bottom: 0.313rem;
  border-bottom: solid gold 1px;
}

.box {
  padding: 0.3rem 0.6rem;
  border: solid 2px gold;
  display: flex;
  align-items: center;
  border-radius: 14px;
  transition: 1.3s;
}

.box a i {
  color: gold;
}
.box a,
.box i {
  font-size: 1rem;
  color: gold;
  transition: 1.3s;
}

/************* box hover  ************/

.box:hover {
  background-color: gold;
  a,
  i {
    color: black;
  }
}

/************* box hover  ************/

.sm {
  color: whitesmoke;
  opacity: 0.9;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 1.4s;
}

.sm i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: whitesmoke;
  font-size: 1rem;
  transition: 1.4s;
}

/************* Social Media hover  ************/

.sm i:hover {
  background-color: gold;
  border: solid 1px gold;
  color: rgb(53, 51, 51);
  border-radius: 70px;
}

/************* Start Carousel  ************/

.slideshow-main {
  overflow: hidden;
  display: flex;
  border-radius: 1rem;
}

.slideshow {
  width: 100%;
  height: 50vh;
  align-content: center;
  background-color: rgba(53, 51, 51, 0.993);
}

.content-slide {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 0 4rem;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
}

.poster img {
  width: 16.625rem;
  border-radius: 1rem;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 30%);
  transition: all 0.7s;
}

/********** Poster Hover *********/

.poster img:hover {
  transform: scale(1.07);
}

/********** Poster Hover *********/

.rat {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rat h3 {
  color: gold;
  font-size: 1.438rem;
  font-weight: 650;
}

.rat h4 {
  color: rgba(255, 255, 255, 70%);
  font-size: 1rem;
}
.rat h5 {
  color: whitesmoke;
  font-size: 1rem;
  margin-left: 1.25rem;
}

.ani-info {
  color: whitesmoke;
}
.ani-info h6 a {
  margin-left: 0.188rem;
  font-weight: 700;
  color: gold;
}

.ani-info h6 {
  margin-bottom: 0.45rem;
}

.cat {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.cat a {
  color: gold;
  margin-right: 0, 65rem;
  padding: 0.324rem 0.65rem;
  font-size: 1rem;
  font-weight: 600;
  border: gold solid 2px;
  border-radius: 1rem;
  transition: all 0.7s;
}

.cat a:hover {
  background-color: gold;
  color: black;
}

.btn-watch {
  margin-top: 22px;
  margin-left: 1px;
}
.btn-watch a {
  background-color: gold;
  color: black;
  font-weight: 600;
  padding: 7px 14px;
  border-radius: 10px;
  transition: all 0.7s;
}
.btn-watch a:hover {
  background-color: transparent;
  color: gold;
  border: gold solid 2px;
}

.slideshow .videobg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.6;
}

.slideshow::before {
  z-index: 1;
  position: absolute;
  background-color: rgba(255, 217, 0, 0.048);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.btn-prev {
  background: none;
  border-radius: 20px;
  top: 45%;
  left: 25px;
  width: 1.5rem;
  height: 3rem;
}
.btn-next {
  background: none;
  border-radius: 20px;
  top: 45%;
  right: 25px;
  width: 1.5rem;
  height: 3rem;
}

/************* End Carousel  ************/

/************* Start Main Content  ************/

.main-content {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.main-content .left {
  border-radius: 10px;
  background-image: linear-gradient(to top, rgb(114, 107, 68), rgb(53, 51, 51));
  padding-bottom: 2px;
  height: fit-content;
  width: 35%;
}
#left-mg {
  margin-right: 3.75rem;
}

.main-taitel {
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1.188rem;
}

.main-taitel h5 a {
  color: whitesmoke;
}
.main-taitel h5 a i {
  color: gold;
}
.watch-all {
  color: whitesmoke;
  font-size: 1.05rem;
  border: solid 2px gold;
  border-radius: 19px;
  padding: 5px 15px;
  transition: 0.7s;
}

.watch-all:hover {
  background-color: gold;
  color: black;
}

.anime-list {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
  transition: all 0.7s;
}
.anime-list:hover {
  transform: scale(1.05);
}
.anime-cart:hover {
  h5 {
    color: gold;
  }
}

.anime-img img {
  width: 100px;
  margin: 5px 15px;
  border: gold solid 1px;
  border-radius: 9px;
}
.anime-cart h5 {
  color: whitesmoke;
  transition: 0.7s;
}
.anime-cart {
  margin-top: 10px;
  margin-right: 35px;
  max-width: 370px;
}

.anime-cart .ul {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
}
.anime-cart .ul li {
  list-style: none;
  margin-left: 4px;
}
.anime-cart .ul li a {
  color: rgba(245, 245, 245, 0.719);
}
.anime-cart .ul i {
  color: rgba(255, 217, 0, 0.836);
  margin-top: 2px;
}

.right {
  background-image: linear-gradient(
    to bottom,
    rgb(114, 107, 68),
    rgb(53, 51, 51)
  );
  border-radius: 10px;
  width: 68%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.all-anime {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.all-anime-img img {
  width: 150px;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.all-anime-img {
  position: relative;
  margin-right: 20px;
  transition: all 0.7s;
}
.all-anime-img:hover {
  opacity: 80%;
  transform: scale(1.08);
  .anime-resulation,
  .anime-rat,
  .anime-view {
    opacity: 1;
  }
}

.anime-cat {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 4px;
  background-color: rgba(255, 217, 0, 0.774);
  border-radius: 9px;
  position: absolute;
  top: 5px;
  left: 3px;
}

.anime-rat {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 4px;
  background-color: rgba(88, 84, 84, 0.774);
  color: gold;
  border-radius: 9px;
  position: absolute;
  top: 30px;
  left: 3px;
  opacity: 0;
  transition: ease 0.7s;
}
.anime-view {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 4px;
  background-color: rgba(88, 84, 84, 0.774);
  color: whitesmoke;
  border-radius: 9px;
  position: absolute;
  top: 55px;
  left: 3px;
  opacity: 0;
  transition: all 1s;
}

.anime-resulation {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 4px;
  background-color: rgba(88, 84, 84, 0.774);
  color: whitesmoke;
  border-radius: 9px;
  position: absolute;
  top: 80px;
  left: 3px;
  opacity: 0;
  transition: all 1.3s;
}

#main {
  flex-direction: row-reverse;
  margin-top: 30px;
}

#right {
  padding-bottom: 2px;
  margin-right: 60px;
  height: fit-content;
}
.Series .right {
  width: 100%;
  margin-top: 20px;
}
#Series .main-taitel {
  padding: 20px 40px;
}
.paragraphe {
  color: whitesmoke;
}

/************* End Main Content  ************/

.contact-About {
  width: 100%;
  height: 27rem;
  margin-top: 2%;
  border-radius: 10px;
}

#about {
  color: whitesmoke;
  font-size: 1rem;
}
#aboutt {
  color: whitesmoke;
  font-size: 1rem;
}

.screen {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.container-form {
  flex: 0 1 700px;
  padding: 10px;
}

.screen {
  position: relative;
  border-radius: 15px;
  width: 100%;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  z-index: -1;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: gold;
  font-size: 26px;
  margin-bottom: 4%;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: whitesmoke;
}

.app-contact {
  margin-top: auto;
  font-size: 11px;
  color: whitesmoke;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: rgba(245, 245, 245, 0.664);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

.app-form-button:hover {
  color: gold;
}

/* laptop screen */

@media (max-width: 1433px) {
  .slideshow{
    width: 100%;
    height: 53vh;
  }
  ul {
    gap: 1.25rem;
  }
  .navigation {
    height: auto;
    padding: 1rem 1rem;
    margin: 0;
  }

  .logo a {
    font-size: 16px;
  }
  .logo i {
    font-size: 15px;
  }
  .nav-list li a {
    font-size: 14px;
  }
  .box {
    padding: 3px 6px;
  }
  .box a,
  .box i {
    font-size: 10px;
  }

  .sm {
    gap: 3px;
  }
  .sm i {
    font-size: 10px;
    width: 1.25rem;
    height: 1.25rem;
  }
  .poster img {
    width: 16rem;
  }
  .anime-cart h5 {
    font-size: 16px;
  }
  .anime-cart .ul li a {
    font-size: 13px;
  }

  .all-anime-img img {
    width: 120px;
    height: 170px;
  }
}

@media (max-width: 1180px) {
  .slideshow {
    width: 100%;
    height: 43vh;
  }
  .poster img {
    width: 200px;
  }

  .rat h3 {
    font-size: 15px;
  }

  .rat h4 {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 2px;
  }

  .rat h5 {
    font-size: 14px;
    margin-left: 8px;
  }

  .ani-info h2 {
    font-size: 20px;
  }

  .ani-info p {
    font-size: 16px;
    height: 50px;
    overflow: hidden;
  }

  .ani-info h6 {
    font-size: 15px;
  }
  .ani-info h6 a {
    font-size: 15px;
  }
  .content-slide {
    align-items: center;
  }
}
@media (max-width: 1130px) {
  .rat h3 {
    font-size: 12px;
  }

  .rat h4 {
    font-size: 10px;
  }

  .rat h5 {
    font-size: 10px;
    margin-left: 8px;
  }

  .ani-info h2 {
    font-size: 21px;
    font-weight: 700;
  }

  .main-content .left {
    width: 40%;
    margin-right: 0;
  }
  .main-content .right {
    width: 55%;
    max-height: 620px;
    overflow: hidden;
    margin-right: 0;
  }

  #main {
    flex-direction: column-reverse;
  }
  #right {
    width: 100%;
    height: fit-content;
  }
  #left {
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 1023px) {
  .slideshow {
    width: 100%;
    height: 35vh;
  }

  .poster img{
    width: 170px;
  }

  .cat {
    margin: 10px 0;
  }
  .cat a {
    font-size: 14px;
    padding: 3px 6px;
  }

  .btn-watch {
    margin-top: 2px;
    display: flex;
    align-items: center;
  }
  .btn-watch a {
    font-size: 12px;
    padding: 4px 9px;
  }

  .box {
    display: none;
  }

  .main-content {
    flex-direction: column;
  }

  .main-content .left {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-content .right {
    width: 100%;
    margin-bottom: 10px;
    overflow: visible;
    max-height: fit-content;
  }
  .paragraphe {
    font-size: 14px;
  }
}

/* Phone screen */

@media (max-width: 800px) {
  .navigation {
    height: auto;
    padding: 1rem 1rem;
    margin: 0;
  }
  .logo i {
    display: none;
  }
  .logo a {
    color: gold;
    font-size: 10px;
  }

  .nav-list li a {
    font-size: 8px;
  }

  .sm {
    display: none;
  }
  .slideshow {
    width: 100%;
    height: 26vh;
  }
  .poster img {
    width: 120px;
  }

  .rat h3 {
    font-size: 10px;
  }

  .rat h4 {
    font-size: 9px;
  }

  .rat h5 {
    font-size: 9px;
    margin-left: 8px;
  }

  .ani-info h2 {
    font-size: 16px;
  }

  .ani-info p {
    display: none;
  }

  .ani-info h6 {
    font-size: 10px;
  }
  .cat {
    margin: 10px 0;
  }
  .cat a {
    font-size: 8px;
    padding: 3px 6px;
  }

  .btn-watch {
    margin-top: 2px;
    display: flex;
    align-items: center;
  }
  .btn-watch a {
    font-size: 9px;
    padding: 4px 9px;
  }

  #aboutt {
    margin-top: 19px;
    font-size: 13px;
  }
  #about {
    font-size: 13px;
  }
  #num {
    display: none;
  }
}

@media (max-width: 700px) {
  .slideshow{
    width: 100%;
    height: 25vh;
  }
  .navigation{
    padding: 5px 3px;
  }
  a {
    font-size: 10px;
  }
  ul {
    gap: 1.5rem;
  }

  .main-taitel h5 a {
    font-size: 14px;
  }

  .anime-cart h5 {
    font-size: 15px;
  }
  .ul li a {
    font-size: 9px;
  }
  .anime-cart .ul i {
    font-size: 9px;
    margin-top: 5px;
  }
  .anime-cart .ul li {
    margin-right: 4px;
    margin-left: 0;
  }
  .ani-info h6 a {
    font-size: 9px;
  }

  .all-anime {
    margin: 3px 8px;
  }
  .all-anime-img img {
    width: 120px;
    height: 170px;
  }
  .anime-cat,
  .anime-rat,
  .anime-view,
  .anime-resulation {
    font-size: 9px;
  }
  .anime-rat {
    top: 25px;
  }
  .anime-view {
    top: 45px;
  }
  .anime-resulation {
    top: 65px;
  }
  #main {
    flex-direction: column-reverse;
  }
  .paragraphe {
    display: none;
  }
  .screen-body {
    flex-direction: column;
  }
  #aboutt {
    margin-top: 19px;
    font-size: 13px;
  }
  #about {
    font-size: 13px;
  }
  #num {
    display: none;
  }
}
@media (max-width: 500px) {
 
  .slideshow {
    width: 100%;
    height: 22vh;
  }
  .carousel-indicators{
    display: none;
  }
  .content-slide {
    gap: 9px;
  }
.rat h3{
  margin-top: 3px;
}
  .ani-info h2 {
    font-size: 12px;
  }

  .ani-info h6{
    margin: 4px 0;
  }
  .ani-info a {
    font-size: 7px;
  }

  .cat {
    margin: 1px 0;
  }
  .cat a {
    padding: 2px 4.5px;
    border: 1px solid gold;
  }
  .logo a {
    font-size: 9px;
  }
  .poster img {
    width: 90px;
  }
  .btn-watch a{
    font-size: 6px;
    font-weight: 700;

  }
  .btn-watch{
    margin-top: 9px;
  }

  .nav-list li a {
    font-size: 7px;
  }
  .rat h3 {
    font-size: 9px;
  }
  .rat h4 {
    font-size: 8px;
  }
  .rat h5 {
    font-size: 8px;
  }

}

